.profile {
  width: 200px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.name {
  font-family: "pretendard";
  color: #2771fa;
  letter-spacing: 2px;
  text-align: center;
}

.introduce {
  font-family: pretendard;
  text-align: center;
}

.introduce-text {
  color: #2771fa;
  font-weight: 800;
}

.list {
  text-align: center;
  list-style: none;
}

.box-div{
  width: 100px;
  height: 50px;
  text-align: center;
  background-color: aliceblue;
  padding: 40px;
  margin-left: auto;
  margin-right: auto;
  border: 4px black solid;
  border-radius: 4px;
  font-size: 12px;
  color: #2771fa;
  font-family: pretendard;
  box-shadow: 5px 4px 3px 2px rgba(161, 161, 161, 0.90);
}
