* {
  font-family: Wanted Sans;
  margin: 0;
  padding: 0;
}

div{
  box-sizing: border-box;
}

html {
  line-height : 1.15; /*기본 행간 높이*/
}

/* h, p{
  margin: 8px;
} */

li, a{
  text-decoration: none;
}

ul{
  list-style: none;
}

.main-background {
  width: 100%;
  height: 600px;
  background-image: url("../images/검은 모래.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 1px;
}

.main-title {
  font-size: 64px;
  font-weight: 600;
  color: white;
  margin-top: 80px;
  margin-left: 40px;
  text-align: center;
}

.main-text {
  font-size: 24px;
  font-weight: 400;
  color: white;
  margin-left: 40px;
  margin-top: 16px;
  text-align: center;
}

.main-btn {
  padding: 16px 60px;
  border-radius: 4px;
  background-color: rgb(244, 244, 244);
  border: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  color: rgb(49, 49, 49);
  text-align: center;
  margin-top: 50px;
}

.cross-box {
  width: 60%;
  max-width: 800px;
  min-width: 500px;
  height: 200px;
  background-color: rgb(49, 49, 49);
  margin-left: auto;
  margin-right: auto;
  padding: 1px;
  text-align: center;
  position: relative;
  top: -50px;
}

.sub-title {
  font-weight: 600;
  font-size: 28px;
  color: white;
  margin-top: 32px;
}

.sub-text {
  font-weight: 400;
  font-size: 20px;
  color: white;
  margin-top: 24px;
}

.user-form{
  padding: 40px;
  width: 28%;
  height: 500px;
  background-color:  rgb(49, 49, 49);
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: -26px;
}

.contact-text{
  font-size: 32px;
  font-weight: 600;
  color:white;
}

.checkbox-text{
  display: inline;
  color:white;
  font-size: 12px;
}

.w-100{
  width: 100%;
}

.form-text{
  color:white;
  margin-bottom: 8px;
}

.input-margin{
  margin-top: 24px; 
}

.w-50{
  width: 50%;
  float: left;
  padding: -12px;
}

.long-form{
  height: 160px;
}

.form-btn{
  float:right;
  width: 80px;
  height: 32px;
  border: none;
  color:  rgb(49, 49, 49);
  background-color: white;
  font-size: 16px;
  font-weight: 500;
}
